.guest-list{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    max-height: 30em;
    /* background-color: aqua; */
}

.guest-list li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5em;
    margin: 0.2rem 0.3rem;
}


